[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "*"
google-api-python-client = "*"
yt-dlp = "*"
ffmpeg-python = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
