[Unit]
Description=Twice-daily certificate renewal check

[Timer]
OnCalendar=*-*-* 03:00:00
OnCalendar=*-*-* 15:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
